.background {
    background: rgb(52, 166, 251);
    border-spacing: 0;
  }
  
  .background td {
    padding: 0;
  }
  
  .lava {
    background: rgb(255, 100, 100);
  }
  
  .wall {
    background: white;
  }
  
  .actor {
    position: absolute;
  }
  
  .coin {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: animation 2s infinite;
            animation: animation 2s infinite;
    -webkit-animation-timing-function: steps(1, end);
            animation-timing-function: steps(1, end);
  }
  
  .player {
    background: rgb(64, 64, 64);
  }
  
  .lost .player {
    background: rgb(160, 64, 64);
  }
  
  .won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  }
  
  .game {
    overflow: hidden;
    max-width: 900px;
    max-height: 600px;
    position: relative;
  }

  @-webkit-keyframes animation{
    0%{
        background-image: url('/sprites/coin_1.png');
    }
    25%{
        background-image: url('/sprites/coin_2.png');
    }
    50%{
        background-image: url('/sprites/coin_3.png');
    }
    75%{
        background-image: url('/sprites/coin_2.png');
    }
    100%{
        background-image: url('/sprites/coin_1.png');
    }

}